[Service]
ExecStart=/usr/bin/node /var/www/NAMETOCHANGE/index.js
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=NAMETOCHANGE
User=NAMETOCHANGE
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target
